<!-- component -->
<%#= render 'header_title' %>
<div class="mb-4 md:mb-0 w-full max-w-screen-md mx-auto relative" style="height: 24em;">
  <%= render 'header_title' %>
  <div class="px-4 lg:px-0 mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed">
    <%= @event.content %>
  </div>
</div>